@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    color: black
}

body{
    margin: auto;
    background-image: linear-gradient(to right, #eddcd9 , #b67e7e7a);
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header{
    width:100vw;
}

.box{
    border: 3px solid black;
    box-shadow: 0.5px 1.5px;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 50vw;
}

h1{
    font-size: 44px;
    color: #333333;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 18.5px;
}

li{
    margin-top: 10px;
}

a{
    font-weight: bold;
    transition: 0.5s;
}

a:hover{
    color: blue;
}

header{
    background-color: #f2ebe9;
    margin-top: 0%;
    border-bottom: 3px solid black;
}

.header-section{
    display: flex;
    justify-content: center;
}

#about-me{
    background-color: #e9b67bfa;
}

.title{
    display: flex;
    justify-content: center;
}

#skills-box{
    background-color: rgba(216, 117, 117, 0.658);
    color: black;
}

#skills-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listItem{
    margin-bottom: 10px;
}

#previous-exp-box{
    background-color: rgba(218, 228, 238, 0.74);
}

#project-box{
    background-color: rgba(255, 127, 80, 0.555);
    display: flex;
    flex-direction: column;
    padding-bottom: 300px;
}

.projTitle{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.project-grid{
    display: grid;
    column-gap: 5%;
    row-gap: 6%;
    margin: 5% 10%;
}

.project{
    padding: 10px;
    border: 3px solid #333333;
    background-color: rgba(204, 128, 13, 0.438);
}

#codewars{
    grid-column: 1;
    grid-row: 1;
}

#websiteClone{
    grid-column: 2;
    grid-row: 1;
}

#keycodeGenerator{
    grid-column: 1;
    grid-row: 2;
}

#drumKit{
    grid-column: 2;
    grid-row: 2;
}

#diceGame{
    grid-column: 1;
    grid-row: 3;
}

#cyberPet{
    grid-column: 2;
    grid-row: 3;
}

#calculator{
    grid-column: 1;
    grid-row: 4;
}

#todolist{
    grid-column: 2;
    grid-row: 4;
}

#catsForLife{
    grid-column: 1;
    grid-row: 5;
}

#booksAPI{
    grid-column: 2;
    grid-row: 5;
}

@media only screen and (max-width: 900px) {
    .project-grid{
        display: flex;
        flex-direction: column;
    }

    .project{
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
